<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{path('accueil')}}">H2PROG-concession Auto</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('accueil')}}">Accueil</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('voitures')}}">Voitures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('admin')}}">admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('inscription')}}">inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('login')}}">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('logout')}}">deconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1 class="border border-dark rounded text-white m-2 p-2 text-center bg-info">{% block monTitre %}{% endblock %}</h1>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
